<?xml version="1.0" encoding="utf-8" ?>
<phpunit
        bootstrap="tests/bootstrap.php"
        colors="true"
        verbose="true"
        stopOnFailure="false">

    <testsuites>
        <testsuite name="TestSuite">
            <directory suffix=".php">tests/ConvertUnit</directory>
        </testsuite>
    </testsuites>

</phpunit>